

@font-face {
  font-family: 'cursive';
  src: url('ComicNeueSansID.ttf') format('truetype');
}
body {
  max-width: 100%;
  height:auto;
  font-family: 'cursive';
  margin: 0;
  background-image: url('brainrot.png'),url('nugget.png');
  background-repeat: repeat;
  background-size: cover;
}
#Rizzponse{
  width: auto;
  
}
#button {
  margin-top:250px;
  top:50%;
  left:55%;
  width:auto;
  height:auto;
  z-index: 2;
}